<h1 class="container">DBC Overflow</h1>


<blockquote class="pretty"><span class="quote"> &#8220;</span><%= @response %><span class="quote">&#8221; </span></blockquote>
<div class="container" id="niceynice">
  <%= link_to("Create a New Question", new_question_path, remote: true) %>
</div>


  <% if notice %>
  <p><%= notice %></p>

<% end %>

<div class="container" id="questions">
  <ol>
    <%= render @questions %>
  </ol>
</div>
